In [1]:
import pandas as pd

In [2]:
DATA_PATH = 'C:/Users/User8/Documents/names/'

In [7]:
def count_top3(years):
    if (len(years) > 0):
        names_list = []
        for year in years:
            filename = DATA_PATH + 'yob' + str(year) + '.txt'
            names = pd.read_csv(filename, names=['Name', 'Gender', 'Count'])
            names_list.append(names)

        result = pd.concat(names_list)

        result = result.groupby(by='Name', as_index=False).sum()
        result = result.sort_values(by='Count', ascending=False).head(3)

        result = result.Name.to_string(index=False)
        top_result = result.replace(' ','').split('\n')
        return top_result
    else:
        print('Список дат пустой!')

In [9]:
count_top3([1880])

['John', 'William', 'Mary']

In [10]:
 count_top3([1900, 1950, 2000])

['James', 'John', 'Robert']

In [8]:
count_top3([])

Список дат пустой!

In [11]:
def count_dynamics(years):
    names_dict = {'F': [], 'M': []}
    for year in years:
        filename = DATA_PATH + 'yob' + str(year) + '.txt'
        names = pd.read_csv(filename, names=['Name', 'Gender', 'Count'])
        women = names.query('Gender=="F"').Count.sum()
        names_dict['F'].append(women)
        men = names.query('Gender=="M"').Count.sum()
        names_dict['M'].append(men)
    return names_dict

In [12]:
count_dynamics([1900, 1950, 2000])

{'F': [299810, 1713259, 1814922], 'M': [150486, 1790871, 1962744]}